@import "bootstrap-sprockets";
@import "bootstrap";


ol{
    margin-top: 2%;
}

li {
    list-style-type: none;
}
.block{
    margin-right: 15%;
    margin-left: 10%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1%;
    background-color: white;
    margin-bottom: 2%;
}

.block-header{
    padding-bottom: 1%;
    font-weight: bold;
}

.block_text_area{
    margin-bottom: 3%;
}

.block_image{
    position: relative;
    height: 250px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.block_image img{
    border-radius: 5px;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

#panel1 button, p{
  float: left;

}
#panel1 button{
  margin-left: 20px;
}