.modal-content {
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  margin-bottom: -300px;
  border-radius: 0px;

}

.modal-content .modal-header {
  border: none;
  display: block;

}

.modal-content a {
  display: block;
  margin: 10px;
  color: #2d2d2d;
  font-size: 15px;

  font-size: 20px;

}

.modal-content .close {
  color: #7b7b7b;
  background: none;
}