.upload_widget_opener {
  max-width: 300px;
  max-height: 300px;
  border: solid;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.form-control {
  margin-left: 10px;
  margin-top: 10px;
}

.btn-primary{
  margin: 10px 10px 10px 10px;
}
